<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
<!--		<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
 Call App Mode on ios devices 
<meta name="apple-mobile-web-app-capable" content="yes" />
 Remove Tap Highlight on Windows Phone IE 
<meta name="msapplication-tap-highlight" content="no">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
      <script th:src="@{/common-js/jquery-1.10.2.js}"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" th:href="@{/common-css/bootstrap.min.css}">
        <!-- Optional theme -->
        <link rel="stylesheet" th:href="@{/common-css/bootstrap-theme.min.css}">
        <!-- Latest compiled and minified JavaScript -->
        <script th:src="@{/common-js/bootstrap.min.js}"></script>
              
    </head>
    <body>
    <!--header.html  that's here  -->
        <div th:replace="~{fragments/header :: header}"></div>
    
        <div layout:fragment="content"></div>
    <!--footer.html  that's here  -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>